
.navbarlink{
    margin-left: 23.5rem;
}

.logout{
    background-color: rgb(4, 182, 126);
    color: white;
    margin-left: 1rem;
    border: none;
    width: 8rem;
    height: 2.5rem;
}

.signup{
    background-color: rgb(235, 179, 179);
    color: rgb(0, 128, 87);
}


    