<div class="container-fluid">
    <h4 class="btn btn-success mx-5">Product Category</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12.png" alt="" srcset="" class="img-fluid"><button class="btn mx-4 pro">Skin Care</button>
                </div>
            </div>
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12-1.png" alt="" srcset="" class="img-fluid"><button class="btn mx-4 pro">Laptops & PC</button>
                </div>
            </div>
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12-2.png" alt="" srcset="" class="img-fluid"><button class="btn mx-4 pro">Smartphones</button>
                </div>
            </div>
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12-3.png" alt="" srcset="" class="img-fluid"><button class="btn mx-4 pro">Fashion</button>
                </div>
            </div>
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12-5.png" alt="" srcset="" class="img-fluid" style="height: 165px;"><button class="btn mx-4 pro">Electronics</button>
                </div>
            </div>
            <div class="col-md-2 category">
                <div class="shadow">
                    <img src="../../assets/images/image 12-4.png" alt="" srcset="" class="img-fluid"><button class="btn mx-4 pro">Lifestyle</button>
                </div>
            </div>
        </div>
    </div>
</div>